<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <h4> <%= f.label :name, style: 'margin-top: -16px; color: orange; font-weight: bold;' %></h4>
    <%= f.text_area :name, cols: "25", rows: "3" %>
  </div>

  <div class="actions">
    <%= f.submit 'Update', :class=>'btn btn-success' %>
  </div>
<% end %>
