<!DOCTYPE html>
<html>
  <head>
    <title>Mailer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	
  	 <section id="container">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="GenerateRequests" class="logo font"><b>One Advanced</b></a>
            <!--logo end-->

        </header>
        <aside>
            <div id="sidebar" class="nav-collapse " style="font-family:'Lato';">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li class="mt font hover">
                        <a href="#">
                            <i class="fa fa-dashboard"></i>
                            <span><h4>Dashboard</h4></span>
                        </a>
                    </li>
                            <li>
                                <a href="/categories">
                                    <i class="fa fa-tasks" aria-hidden="true"></i><span><h4>Categories</h4></span>
                                </a>
                            <li class="sub-menu font">
                                <a href="/quotes">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span><h4>Quotes</h4></span>
                                </a>
                            </li>
                    
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

    </section>
       <section id="main-content">
        <section class="wrapper" style="height: 800px">

            <div class="row mt">
                <div class="col-lg-12">
                		<%= yield %>
                </div>
            </div>  
        
         </section>
    </section>
     </body>
</html>