<!DOCTYPE html>
<html>
  <head>
    <title>Mailer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	
  	 <div id="container">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="GenerateRequests" class="logo font"><b>One Advanced</b></a>
            <!--logo end-->
		
			<ul class="nav navbar-nav navbar-right">
                    <li class="hover">
                        <a href="/dashboard" class="font">
                            <i class="fa fa-dashboard"></i>
                            <span><h4>Dashboard</h4></span>
                        </a>
                    </li>
                    <li class="hover">
                      	  <a href="/categories" class="font">
                             <i class="fa fa-tasks" aria-hidden="true"></i><span><h4>Categories</h4></span>
                         </a>
                    </li>
                    <li class="hover">
                          <a href="/quotes" class="font">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span><h4>Quotes</h4></span>
                          </a>
                    </li>
                    
                </ul>
		
        </header>
    </div>
       <!-- <section id="main-content">-->
        <div class="wrapper" style="height: 800px"> 
            <div class="row mt">
                <div class="col-md-10">
                		<%= yield %>
                </div>
            </div>  
        
         </div>
   <!-- </section> -->
     </body>
</html>